.panel-default > .panel-heading-custom {
    background: #ff0000;
    color: #fff;
}

.crop {
    /*!*width: 200px;*!*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    text-overflow: ellipsis;
}